:root {
  --main-blue-color: #71c8e9;
  --main-red-color: #ea383a;
}
.nav-item {
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Poppins", cursive;
  font-weight: 800;
}
.nav-item:hover {
  text-shadow: 0 0 15px var(--main-blue-color);
  transform: scale(1.2);
  font-weight: 900;
}
.nav-item::after {
  content: "";
  width: 0%;
  margin-left: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 40%;
  transition: all 0.5s;
  position: absolute;
}
.nav-item:hover::after,
.nav-item:focus {
  background-color: var(--main-blue-color);
  width: 62%;
  margin-left: 20%;
  box-shadow: 0px 0px 15px var(--main-blue-color);
  transform: scale(1.5);
}
.dropdown-item {
  cursor: pointer;
  transition: all 0.5s;
}
.dropdown-item:hover {
  text-shadow: 0 0 15px var(--main-blue-color);
  transform: scale(1);
}
.dropdown-item::after {
  content: "";
  width: 0%;
  margin-left: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 40%;
  transition: all 0.5s;
  position: absolute;
}
.dropdown-item:hover::after,
.dropdown-item:focus {
  background-color: var(--main-red-color);
  width: 62%;
  margin-left: 20%;
  box-shadow: 0px 0px 15px var(--main-red-color);
  transform: scale(1.5);
}
