<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('accueil')}}"><img src="/assets/img/logo_sn.png" alt="logo" style="max-width: 100px;"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('accueil')}}">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Actu sneakers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Nouveautés</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Marque</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Adidas</a>
						<a class="dropdown-item" href="#">Nike</a>
						<a class="dropdown-item" href="#">Off-white</a>
						<a class="dropdown-item" href="#">Reebok</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">A propos</a>
				</li>

			</ul>
			<div class="anim">
				<div class="container-anim">
					<div class="text" style="--j:0;">
						<span style="--i:0">2</span>
						<span style="--i:1">3</span>
						<span style="--i:2">4</span>
						<span style="--i:3">5</span>
					</div>
					<div class="text" style="--j:1;">
						<span style="--i:0">0</span>
						<span style="--i:1">1</span>
						<span style="--i:2">2</span>
						<span style="--i:3">3</span>
					</div>
					<div class="text" style="--j:2;">
						<span style="--i:0">2</span>
						<span style="--i:1">2</span>
						<span style="--i:2">3</span>
						<span style="--i:3">4</span>
					</div>
					<div class="text" style="--j:3;">
						<span style="--i:0">2</span>
						<span style="--i:1"><img src="/assets/img/logo_sn.png" alt="logo"></span>
						<span style="--i:2"><img src="/assets/img/logo_sn.png" alt="logo"></span>
						<span style="--i:3"><img src="/assets/img/logo_sn.png" alt="logo"></span>
					</div>
				</div>
			</div>


		</div>
	</div>
</nav>
